body {
    background-color: #D0E4F5;
    background-image: url("https://cdn.discordapp.com/attachments/418866862374518784/803183375807938560/266498-Elite_Dangerous-space-science_fiction-video_games.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
@viewport {
        width: device-width ;
        zoom: 1.0 ;
    }
.middle {
    background: rgba(46, 49, 49, 0.5);
    -pie-background:  rgba(46, 49, 49, 1);
    behavior: url(PIE.htc);
    }